{% extends 'partials/layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<header class="row bg-black align-items-center">
  <div class="col-md-3 text-center">
    <img src="{% static 'portfolio/nuevo_logo.jpeg' %}" alt="" class="img-fluid" />
  </div>

  <div class="col-md-9">
    <div class="text-center">
        <h1>KNOWHERE</h1>
        <h1><strong>Impresiones 3D</strong></h1>
    </div>
    <p>Descubre un mundo fascinante donde la creatividad cobra vida y la 
        tecnología se fusiona con el arte. 
        Nos enorgullece presentarte una colección única de artículos 
        coleccionables impresos en 3D que transformarán tu experiencia 
        de coleccionismo.</p>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

    <h3>BIENVENIDOS</h3>
    <p>Modelos coleccionables de calidad</p>
  
    {% for project in projects %}
    <div class="col-md-4 p-4">
      <div class="card bg-black card-project">
        <img src="{{project.image.url }}" alt="{{project.title}}" class="card-img-top" />
  
        <div class="card-body">
  
          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>
  
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

<!-- Footer Section -->
<div class="row my-4 text-center justify-content-center">
    <div class="col-md-9">
      <div class="text-center">
        <p style="margin-top: 20px;">
          <a href="https://www.facebook.com/profile.php?id=100085586357828&mibextid=ZbWKwL" target="_blank" style="margin-right: 15px;">
            <img src="{% static 'portfolio/facebook.png' %}" alt="Facebook" style="width:40px;">
          </a>
          <a href="https://www.instagram.com/knowhere3d?igsh=NjkxYjVrM2QxMXU0" target="_blank" style="margin-right: 15px;">
            <img src="{% static 'portfolio/instagram.png' %}" alt="Instagram" style="width:40px;">
          </a>
          <a href="mailto:edu.eav3@gmail.com" target="_blank">
            <img src="{% static 'portfolio/Gmail.png' %}" alt="Gmail" style="width:40px;">
          </a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}


